[[1 :battle/attacker_commander "Stannis Baratheon"]
 [1 :battle/defender_1 "Bolton"]
 [1 :battle/attacker_size 5000]
 [1 :battle/attacker_4 "Glover"]
 [1 :battle/defender_king "Joffrey/Tommen Baratheon"]
 [1 :battle/attacker_2 "Karstark"]
 [1 :battle/year 300]
 [1 :battle/name "Siege of Winterfell"]
 [1 :battle/attacker_3 "Mormont"]
 [1 :battle/summer false]]
